body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #343a40;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #212529 32%, #1b1e21 32%);
    background: -webkit-linear-gradient(left, #212529 32%, #1b1e21 32%);
    background: linear-gradient(60deg, #212529 32%, #1b1e21 32%);
}

li.nav-item {
    padding: 20px 0px;
    margin-right: 40px;
}
li.nav-item:last-child {
    margin-right: 0;
}
ul.navbar-nav li.nav-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 1px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
/*footer Css Start Here*/

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

/*Loader Css*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.do-loader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-image: url(../images/favicon.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.do-loader:before {
    content: "";
    display: block;
    position: absolute;
    left: -6px;
    top: -6px;
    height: calc(100% + 12px);
    width: calc(100% + 12px);
    border-top: 1px solid #eeaa34;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 100%;
    -webkit-animation: spinning 0.750s infinite linear;
    -moz-animation: spinning 0.750s infinite linear;
    -o-animation: spinning 0.750s infinite linear;
    animation: spinning 0.750s infinite linear;
}
@-webkit-keyframes spinning {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes spinning {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes spinning {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes spinning {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.do-social-link-section{
    background-color: #373737;
    overflow: hidden;
}

.do-social-link-section ul{}

.do-social-link-section a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #c0c0c0;
    line-height: 30px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    letter-spacing: 6px;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 20%;
    padding: 25px 0;
    border-right: 1px solid #333333;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
}

.do-social-link-section a:first-child{
    border-left: 1px solid #333333;   
}

.do-social-link-section a span{
    width: 30px;
    height: 30px;
    border: 1px solid #575757;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
}

.do-social-link-section a span i{
    font-size: 16px;
    color: #575757;
    line-height: 29px;
    padding-left: 5px;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
}

.do-social-link-section a:hover{
    color: #ffffff;
}

.do-social-link-section a:hover span{
    border-color: #ffffff;
}

.do-social-link-section a:hover span i{
    color: #ffffff
}

/* FACEBOOK */
.do-social-link-section a.do-facebook:hover{
    background-color: #3b5998;
}

/* TWITTER */
.do-social-link-section a.do-linkedin:hover{
    background-color: #00aced;
}

/* VIMEO */
.do-social-link-section a.do-vimeo:hover{
    background-color: #aad450;
}

/* DRIBBBLE */
.do-social-link-section a.do-dribbble:hover{
    background-color: #ea4c89;
}

/* BEHANCE */
.do-social-link-section a.do-behance:hover{
    background-color: #005cff;
}

footer.do-footer{
    background-color: #343434;
}

/*--------
Footer Top
---------*/
footer.do-footer .do-footer-top{
    overflow: hidden;
    padding-top: 95px;
    padding-bottom: 65px;
    border-bottom: 1px solid #373737;
}

footer.do-footer .do-footer-top .do-footer-widget{}

footer.do-footer .do-footer-top .do-footer-widget h3.do-footer-widget-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

footer.do-footer .do-footer-top .do-footer-widget ul li a{
    color: #717171;
    -webkit-transition: color .3s;
       -moz-transition: color .3s;
        -ms-transition: color .3s;
         -o-transition: color .3s;
            transition: color .3s;
}

footer.do-footer .do-footer-top .do-footer-widget ul li a:hover{
    color: #FFFFFF;
}

/*
    About Us Widget
*/
footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper{
    overflow: hidden;
    margin-bottom: 30px;
    line-height: 0.7;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper a{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper a img{}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address{}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul{}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul li{
    position: relative;
    padding-left: 40px;
    padding-bottom: 13px;
    color: #fff;
  cursor:default;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul li:last-child{
    padding-bottom: 0;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul li i{
    font-size: 16px;
    color: #444444;
    position: absolute;
    left: 0;
    top: 3px;
}

/*
    About Link & Link Widget
*/
footer.do-footer .do-footer-top .do-footer-link-widget ul,
footer.do-footer .do-footer-top .do-about-link-widget ul{}

footer.do-footer .do-footer-top .do-footer-link-widget ul li,
footer.do-footer .do-footer-top .do-about-link-widget ul li{
    margin-bottom: 10px;
}

footer.do-footer .do-footer-top .do-footer-link-widget ul li:last-child,
footer.do-footer .do-footer-top .do-about-link-widget ul li:last-child{
    margin-bottom: 0;
}


/*
    Flickr Widget
*/
footer.do-footer .do-footer-top .do-flickr-widget #flickr-gallery{
    overflow: hidden;
}

footer.do-footer .do-footer-top .do-flickr-widget #flickr-gallery li{
    width: 70px;
    height: 70px;
    margin: 0 2px 2px 0;
    float: left;
    list-style: none;
}

footer.do-footer .do-footer-top .do-flickr-widget #flickr-gallery li img{
    width: 100%;
}
p, li, a, span, input {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #888888;
}
/*------------
Footer Bottom
------------*/
footer.do-footer .do-footer-bottom{
    text-align: center;
    padding: 30px 0;
}

footer.do-footer .do-footer-bottom a.do-footer-author-name{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 8px;
    text-transform: uppercase;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*slider Section Start here*/
#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
  left:0;
  height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4 { 
    margin-bottom: 15px;
    color: #FFF;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
#myCarousel p{
  margin-bottom: 15px;
    color: #d5d5d5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:transparent;color:#eb8b29; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*#myCarousel .container {max-width: 1430px;  }*/
#myCarousel .carousel-item{height:100%; min-height:450px; }
#myCarousel{position:relative; z-index:1; background:url('../images/1.jpg') center center no-repeat; background-size:cover;margin-top: 118px; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }
#myCarousel .carousel-item a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #eb8b29;
    border: 2px solid #eb8b29;
    padding: 0px 25px;
    padding-left: 30px;
    height: 40px;
    line-height: 36px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    letter-spacing: 6px;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
  opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
  opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
  .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0)
  }
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.do-custom-section-with-img {
    background-color: #ffffff;
    padding: 100px 0;
}
.do-custom-sec-img, .do-custom-section-with-img .do-custom-sec-content {
    overflow: hidden;
}
.do-custom-section-with-img .do-custom-sec-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0px 0 25px;
}
.do-custom-section-with-img .do-custom-sec-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #888888;
    font-weight: 400;
    margin-bottom: 23px;
}
.do-custom-section-with-img .do-custom-sec-content a.do-btn-round-solid {
    margin-top: 35px;
}

.do-btn-round-solid {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #eb8b29;
    border: 2px solid #eb8b29;
    padding: 0px 25px;
    padding-left: 30px;
    height: 40px;
    line-height: 36px;
    display: inline-block;
   color: #fff;
    letter-spacing: 6px;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.do-btn-round-solid:hover {
    color: #888888;
    background-color: transparent;
    border: 2px solid #da3636;
}


.holderCircle { width: 500px; height: 500px; border-radius: 100%; margin: 60px auto; position: relative; }


.dotCircle { width: 100%; height: 100%; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; border-radius: 100%; z-index: 20; }
.dotCircle  .itemDot { display: block; width: 80px; height: 80px; position: absolute; background: #ffffff; color: #343a40; border-radius: 20px; text-align: center; line-height: 80px; font-size: 30px; z-index: 3; cursor: pointer; border: 2px solid #e6e6e6; }
.dotCircle  .itemDot .forActive { width: 56px; height: 56px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }
.dotCircle  .itemDot .forActive::after { content: ''; width: 5px; height: 5px; border: 3px solid #7d4ac7; bottom: -31px; left: -14px; filter: blur(1px); position: absolute; border-radius: 100%; }
.dotCircle  .itemDot .forActive::before { content: ''; width: 6px; height: 6px; filter: blur(5px); top: -15px; position: absolute; transform: rotate(-45deg); border: 6px solid #a733bb; right: -39px; }
.dotCircle  .itemDot.active .forActive { display: block; }
.round { position: absolute; left: 40px; top: 45px; width: 410px; height: 410px; border: 2px dotted #ef7c2f; border-radius: 100%; -webkit-animation: rotation 100s infinite linear; }
.dotCircle .itemDot:hover, .dotCircle .itemDot.active { color: #ffffff; transition: 0.5s;   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */ background: #7d4ac7; /* Old browsers */ background: -moz-linear-gradient(left, #e98226 0%, #F47735 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #7d4ac7 0%, #F47735 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #e98226 0%, #F47735 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e98226', endColorstr='#F47735', GradientType=1); /* IE6-9 */ border: 2px solid #ffffff; -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); }
.dotCircle .itemDot { font-size: 40px; }
.contentCircle { width: 250px; border-radius: 100%; color: #222222; position: relative; top: 150px; left: 50%; transform: translate(-50%, -50%); }
.contentCircle .CirItem { border-radius: 100%; color: #222222; position: absolute; text-align: center; bottom: 0; left: 0; opacity: 0; transform: scale(0); transition: 0.5s; font-size: 15px; width: 100%; height: 100%; top: 0; right: 0; margin: auto; line-height: 250px; }
.CirItem.active { z-index: 1; opacity: 1; transform: scale(1); transition: 0.5s; }
.contentCircle .CirItem i { font-size: 180px; position: absolute; top: 0; left: 50%; margin-left: -90px; color: #000000; opacity: 0.1; }
@media only screen and (min-width:300px) and (max-width:599px) {
  .holderCircle { width: 300px; height: 300px; margin: 110px auto; }
  .holderCircle::after { width: 100%; height: 100%; }
  .dotCircle { width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
}
@media only screen and (min-width:600px) and (max-width:767px) { }
@media only screen and (min-width:768px) and (max-width:991px) { }
@media only screen and (min-width:992px) and (max-width:1199px) { }
@media only screen and (min-width:1200px) and (max-width:1499px) { }
  .title-box .title { font-weight: 600; letter-spacing: 2px; position: relative; z-index: -1; }
        .title-box span { text-shadow: 0 10px 10px rgba(0, 0, 0, .15); font-weight: 800; color: #640178; }
        .title-box p {font-size: 17px; line-height: 2em; }